.bottom-carousel {
    display: flex;
    margin-left: auto;
    width: 29%
}

.bottom-carousel ol{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
}

.carousel {
    display: flex;
    align-items: center;
}

.number {
    display: flex;
    align-items: center; 
}

.number ol {
    margin: 0;
    font-size: 16px;
    padding: 0.3rem 1rem; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.number ol:hover {
    background-color: #f0f0f0; 
    border-radius: 5px; 
}

.number{
    display: flex;
}
.icon-back, .icon-forward{
    padding: 2px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
}
@media screen and (max-width: 1400px) {
    .bottom-carousel{
        display: flex;
        margin: auto;
        width: 25%;
    } 
}

@media screen and (max-width: 511px) {
    .bottom-carousel{
        display: flex;
        margin-right: auto;
        width: 40%;
        font-size: 12px;
    }
    
}

@media screen and (max-width: 540px), (max-width: 1454px), (max-width: 1476px), (max-width: 1540px) {
    .bottom-carousel{
        align-items: center;
        justify-content: center;
    }
    
}

@media screen and (max-width: 487),( max-width: 414px), (max-width:430px), (max-width: 344px){
    .bottom-carousel{
        margin-right: 0 auto;
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .bottom-carousel{
        margin-right: auto;
        width:90%;
        gap: 0.2px !important;
        padding: 0.2px;
    }
    
}