.detail-list-wrapper {
    width: 100%;
    /* overflow-x: auto; */
}

.detail-list-wrapper hr {
    width: 90%;
}

.detail-list-row {
    display: flex;
    width: 100%;
    gap: 2.5rem;
    text-align: center;
    color: rgb(158, 156, 156);
}

.detail-list-row .container1 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.detail-list-row .container p {
    margin: 0;
}

.detail-list-row .container1 .header-text {
    font-size: 15px;
}

/* .detail-list-row .container {
    flex: 1;
    display: flex;
    align-items: center;
} */


@media screen and (max-width: 1440px) {
    .detail-list-row {
        grid-template-columns: repeat(8, auto); /* Ensure 8 rows layout */
        font-size: 18px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .detail-list-wrapper hr {
        width: 100%;
    }
}

@media screen and (max-width: 1361px) {
    .detail-list-row {
        width: 100%;
        font-size: 17px;
        align-items: center;
    }
}

@media screen and (max-width: 1305px) {
    .detail-list-row {
        width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 1248px) {
    .detail-list-row {
        width: 100%;
        font-size: 15px;
    }
}

@media screen and (max-width: 1192px) {
    .detail-list-row {
        width: 100%;
        font-size: 16px;
        padding: 0;
        gap: 0.9rem !important;
    }
}

@media screen and (max-width: 1064px) {
    .detail-list-row {
        width: 100%;
        gap: 1.5rem !important;
    }
}

@media screen and (max-width: 860px) {
    .detail-list-row {
        width: 100%;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .detail-list-wrapper hr {
        width: 100%;
    }
}
