.detail-list-wrapper {
    width: 100%;
    padding-left: 0.3rem;
    box-sizing: border-box;
}

.detail-list-wrapper hr {
    width: 91%;
}

.detail-list-row {
    display: flex;
    width: 100%;
    gap: 2.5rem;
    text-align: center;
    color: rgb(158, 156, 156);
}

.detail-list-row .container1 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.detail-list-row .container p {
    margin: 0;
}

.detail-list-row .container1 .header-text {
    font-size: 15px;
}

.parent-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}

.detail-list-wrapper, .second-detail-wrapper{
    flex: 1;
    min-width: 0;
}


@media screen and (max-width: 1309px) {
    .detail-list-row {
        width: 100%;
        font-size: 16px;
        flex-wrap: wrap;
        width: 70rem;
    }

    .detail-list-wrapper hr {
        width: 100%;
    }
    .parent-container{
        overflow-x: hidden;

    }
}

@media screen and (max-width: 1248px) {
    .detail-list-row {
        width: 100%;
        font-size: 15px;
    }
}

@media screen and (max-width: 1192px) {
    .detail-list-row {
        width: 100%;
        font-size: 16px;
        padding: 0;
        gap: 0.9rem !important;
    }
}

@media screen and (max-width: 1064px) {
    .detail-list-row {
        width: 100%;
        gap: 1.5rem !important;
    }
}

@media screen and (max-width: 860px) {
    .detail-list-row {
        width: 100%;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .detail-list-wrapper hr {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .parent-container {
        flex-direction: column;
    }
    .detail-list-wrapper, .second-detail-wrapper {
        flex: 1;
        min-width: 100%;
    }
}