.detail-list-row{
    display: flex;
    gap: 2.2rem;
    color: rgb(158, 156, 156);
}

.detail-list-row .cont{
    display: flex;
    gap: 15px;
}

.detail-list-row .cont .header-text{
    font-size: 15px;
}

